/*RockSprocket FP Slideshow - Reposition Image*/
#rt-slideshow .sprocket-fullslideshow-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 119%;
}

/*CSS Code*/
.img-padding-left {
    padding-left: 12px;
}
.img-padding-right {
    padding-right: 12px;
}
.img-padding-top {
    padding-top: 12px;
}
.img-padding-bottom {
    padding-bottom: 12px;
}

.menu-about-us #rt-expandedbottom {
    background-color: #fafafa;
}

.menu-about-us #rt-fullwidth {
    background-color: #f9f9f9;
}

.menu-web-services #rt-expandedbottom {
    background-color: #fafafa;
}

.menu-logo-design-services #rt-expandedbottom {
    background-color: #fafafa;
}

.menu-cover-page-website #rt-expandedbottom {
    background-color: #fafafa;
}

.menu-our-services #rt-expandedbottom {
    background-color: #fafafa;
}

.menu-website-maintenance-services #rt-expandedbottom {
	background-color: #fafafa;
}

.menu-it-consulting-services #rt-expandedbottom {
	background-color: #fafafa;
}


/*Pricing Tables Styling*/

.menu-home #rt-mainbody-wrapper {
    background-color: #f8f8f8;
}

.menu-web-services #rt-mainbody-wrapper {
    background-color: #f8f8f8;
}

.menu-maj-solutions-web-design-development-services .sprocket-tables-feature {
    font-size: 1.0em;
}

.menu-print-graphic-design-services #rt-mainbody-wrapper {
    background-color: #f8f8f8;
}

.menu-cover-page-website #rt-mainbody-wrapper {
    background-color: #f8f8f8;
}

.menu-logo-design-services #rt-mainbody-wrapper {
    background-color: #f8f8f8;
}

.menu-mss-services #rt-mainbody-wrapper {
	background-color: #f8f8f8;
}

.menu-website-maintenance-services #rt-mainbody-wrapper {
	background-color: #f8f8f8;
}


/*Remove rt-mainbody-wrapper*/
.menu-web-design-development-services #rt-mainbody-wrapper {
    display: none;
}

/*.menu-print-graphic-design-services #rt-mainbody-wrapper {
    display: none;
}*/

.menu-document-conversion-services #rt-mainbody-wrapper {
    display: none;
}

.menu-it-consulting-services #rt-mainbody-wrapper {
    display: none;
}

/*Request A Quote - Contact Us Form*/
.contact h3 {
    display: none;
}

/*Box Shawdows*/
#rt-footer {
    box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8);
}

#rt-bottom {
    box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8);
}

#rt-breadcrumbs {
    box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.8);
}


